body
{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:0;
  justify-content: space-between;
  font-family: arial, sans-serif;
}
html, body
{
  height:100%;
  padding:0;
  margin:0;
}



header
{
  align-self: flex-end;
  margin:15px;
  font-size:0.85em;
  display:flex;
  align-items: center;
}
header a
{
  color: rgb(33,33,33);
  text-decoration:none;
  margin:5px;
}
header a:hover
{
  color: rgb(33,33,33);
  text-decoration:underline;
}
header img
{
  opacity:55%;
  width:18px;
  height:17px;
  margin-right:15px;
  margin-left:15px;
  padding:0px;
}
header img:focus
{
  outline:none;
}
header img:hover
{
  opacity:100%;
}
header button
{
  margin:5px;
  background-color:rgb(70,131,236);
  color:white;
  height:30px;
  width:93px;
  font-weight:bold;
  font-size:13px;
  border: none;
  border-radius:3px;
}
header button:hover
{
  box-shadow: 0px 1px 1px rgba(33,33,33,0.30);
}






.centre
{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items:center;
  margin-bottom:14%;
}
.boutons
{
  align-self:center;
}
.boutons button:active
{
  background-color:white;
}
.boutons
{
  display:flex;
}
.boutons button
{
  background-color: rgb(248,249,250);
  border-radius:3px;
  width:160px;
  height:35px;
  margin:5px;
  border:black 0px solid;
  font-size:13px;
}
.boutons button:hover
{
  border:#Dadce0 1px solid;
  box-shadow: 0px 1px 1px rgba(33,33,33,0.30);
}
.logo img
{
  width:272px;
  height:92px;
}
.searchbar
{
  width:584px;
  height:44px;
  border: rgb(223,225,229) 1px solid;
  margin:20px;
  padding:0px;
  border-radius:25px;
  display:flex;
  justify-content:space-evenly;
}
.searchbar:hover
{
  border: rgba(33,33,33,0) 1px solid;
  box-shadow: 0px 1px 6px rgba(33,33,33,0.30);
}
.searchbar img
{
  width:22px;
  padding:0px;
  margin:0px;
  opacity: 0.4;
}
#searchbar
{
align-self:center;
width:520px;
height:35px;
border: black 0px solid;
padding:0px;
margin:0px;
font-size:1em;
}
#searchbar:focus
{
  outline:none;
}






footer
{
  background-color: rgb(242,242,242);
  width: 100%;
  color:rgb(124,124,124);
}
.footerup
{
  border-top: rgb(218,220,224) 1px solid;
  margin:0px;
  padding:0px 25px;
}
.footerup p
{
  padding:3px;
  margin: 7px 0px;
}

.footerdown
{
  border-top: rgb(218,220,224) 1px solid;
  padding:10px 25px;
  margin:0px;
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  align-content:center;
}
.footerdown a
{
  color:rgb(124,124,124);
  text-decoration:none;
  font-size:14px;
  padding: 0px 8px;
}
.footerdown a:hover
{
  text-decoration:underline;
}
.side
{
padding-left:20px;
}
.f1 a
{
  padding-left:3px;
}
.f2 img
{
  width:13px;
}

